<?xml version="1.0" encoding="utf-8" standalone="no"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" version="2.5"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">


	<!-- ===================== UserFile Service ===================== -->
	<servlet>
		<servlet-name>userFileService</servlet-name>
		<servlet-class>org.javahispano.javaleague.server.UserFileServiceImpl</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>userFileService</servlet-name>
		<url-pattern>/javaleague/userFileService</url-pattern>
	</servlet-mapping>

	<!-- ===================== UserAccount Service ===================== -->
	<servlet>
		<servlet-name>userAccountService</servlet-name>
		<servlet-class>org.javahispano.javaleague.server.UserAccountServiceImpl</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>userAccountService</servlet-name>
		<url-pattern>/javaleague/userAccountService</url-pattern>
	</servlet-mapping>

	<!-- ===================== League Service ===================== -->
	<servlet>
		<servlet-name>leagueService</servlet-name>
		<servlet-class>org.javahispano.javaleague.server.LeagueServiceImpl</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>leagueService</servlet-name>
		<url-pattern>/javaleague/leagueService</url-pattern>
	</servlet-mapping>

	<!-- ===================== Login Service ===================== -->
	<servlet>
		<servlet-name>loginService</servlet-name>
		<servlet-class>org.javahispano.javaleague.server.LoginServiceImpl</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>loginService</servlet-name>
		<url-pattern>/javaleague/loginService</url-pattern>
	</servlet-mapping>

	<!-- ===================== tacticService ===================== -->
	<servlet>
		<servlet-name>tacticService</servlet-name>
		<servlet-class>org.javahispano.javaleague.server.TacticServiceImpl</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>tacticService</servlet-name>
		<url-pattern>/javaleague/tacticService</url-pattern>
	</servlet-mapping>

	<!-- ===================== matchService ===================== -->
	<servlet>
		<servlet-name>matchService</servlet-name>
		<servlet-class>org.javahispano.javaleague.server.MatchServiceImpl</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>matchService</servlet-name>
		<url-pattern>/javaleague/matchService</url-pattern>
	</servlet-mapping>

	<!-- ===================== frameWorkService ===================== -->
	<servlet>
		<servlet-name>frameWorkService</servlet-name>
		<servlet-class>org.javahispano.javaleague.server.FrameWorkServiceImpl</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>frameWorkService</servlet-name>
		<url-pattern>/javaleague/frameWorkService</url-pattern>
	</servlet-mapping>

	<!-- ===================== Dispatch Match Servlet ===================== -->
	<servlet>
		<servlet-name>dispatchMatch</servlet-name>
		<servlet-class>org.javahispano.javaleague.server.servlets.DispatchMatchServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>dispatchMatch</servlet-name>
		<url-pattern>/dispatchMatch</url-pattern>
	</servlet-mapping>

	<!-- ===================== Play Match Servlet ===================== -->
	<servlet>
		<servlet-name>playMatch</servlet-name>
		<servlet-class>org.javahispano.javaleague.server.servlets.PlayMatchServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>playMatch</servlet-name>
		<url-pattern>/playMatch</url-pattern>
	</servlet-mapping>

	<!-- ===================== Serve Match Servlet ===================== -->
	<servlet>
		<servlet-name>Serve</servlet-name>
		<servlet-class>org.javahispano.javaleague.server.servlets.ServeServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Serve</servlet-name>
		<url-pattern>/serve</url-pattern>
	</servlet-mapping>

	<!-- ===================== Daytime Servlet ===================== -->
	<servlet>
		<servlet-name>Daytime</servlet-name>
		<servlet-class>org.javahispano.javaleague.server.servlets.DaytimeServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Daytime</servlet-name>
		<url-pattern>/daytime</url-pattern>
	</servlet-mapping>

	<!-- ===================== AuthenticateUser Servlet ===================== -->
	<servlet>
		<servlet-name>AuthenticateUser</servlet-name>
		<servlet-class>org.javahispano.javaleague.server.servlets.AuthenticateUserServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AuthenticateUser</servlet-name>
		<url-pattern>/authenticateUser</url-pattern>
	</servlet-mapping>

	<!-- ===================== ManageFrameWork Servlet ===================== -->
	<servlet>
		<servlet-name>ManageFrameWork</servlet-name>
		<servlet-class>org.javahispano.javaleague.server.servlets.ManageFrameWorkServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ManageFrameWork</servlet-name>
		<url-pattern>/manageFrameWork</url-pattern>
	</servlet-mapping>

	<!-- ===================== GWTUpload Servlet ===================== -->
	<context-param>
		<!-- max size of the upload request -->
		<param-name>maxSize</param-name>
		<param-value>3145728</param-value>
	</context-param>
	<context-param>
		<!-- Useful in development mode to slow down the uploads in fast networks. 
			Put the number of milliseconds to sleep in each block received in the server. 
			false or 0, means don't use slow uploads -->
		<param-name>slowUploads</param-name>
		<param-value>false</param-value>
	</context-param>

	<servlet>
		<servlet-name>uploadServlet</servlet-name>
		<servlet-class>org.javahispano.javaleague.server.servlets.MyCustomizedUploadServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>uploadServlet</servlet-name>
		<url-pattern>*.gupld</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>uploadServlet</servlet-name>
		<url-pattern>/upload</url-pattern>
	</servlet-mapping>


	<!-- Default page to serve -->
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>



	<servlet>
		<servlet-name>SystemServiceServlet</servlet-name>
		<servlet-class>com.google.api.server.spi.SystemServiceServlet</servlet-class>
		<init-param>
			<param-name>services</param-name>
			<param-value />
		</init-param>
	</servlet>

	<servlet-mapping>
		<servlet-name>SystemServiceServlet</servlet-name>
		<url-pattern>/_ah/spi/*</url-pattern>
	</servlet-mapping>

</web-app>